pipeline/Masterpipeline.json
{
	"name": "Masterpipeline",
	"properties": {
		"activities": [
			{
				"name": "Set Current Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "linkDate",
					"value": {
						"value": "@utcNow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Current Date",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('fileNames')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute cricket Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "cricketDailyDataLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"linkDate": {
										"value": "@variables('linkDate')",
										"type": "Expression"
									},
									"dailyType": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute Medallion architecture",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Execute Medallion architecture",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"linkDate": {
				"type": "String"
			},
			"fileNames": {
				"type": "Array",
				"defaultValue": [
					"results",
					"schedule"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-07-28T06:14:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}